p.clear {
    clear: both;
    padding: 1px;
}

.design {
  text-align: left;
  empty-cells: hide;  
  border-spacing: 1px;
}

.design td {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  text-align: center;
  border-color: #9AD6CC;
  background-color: #D1F0EB;
}

.library {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid;
  text-align: center;
  border-color: #BBBBBB;
  background-color: #DDDDDD;
}

.interface {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid;
  text-align: center;
  border-color: #D2E4C6;
  background-color: #E7FBDA;
  cursor: pointer;
}

.component {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  text-align: center;
  border-color: #9AD6CC;
  background-color: #D1F0EB;
  cursor: pointer;
}

.base {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  text-align: center;
  border-color: #B1D1E6;
  background-color: #D6E8F6;
  cursor: pointer;
}

body {
  font-family: arial, verdana;
}

h4 {
  margin-bottom: 3px;
}

td.spc {
  padding: 1px;
  background-color: #D6E8F6;
  border-color: #B1D1E6;
}

td.tbase {
  background-color: #D6E8F6;
  border-color: #B1D1E6;
  cursor: pointer;
}

td.comp {
  cursor: pointer;
}

.table a {
    display:block;
    text-decoration:none;
}

.com-container {
  float: left;
  border: 2px solid;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-color: #9AD6CC;
  background-color: #D1F0EB;
  cursor: pointer;
}

.bas {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  text-align: center;
  border-color: #B1D1E6;
  background-color: #D6E8F6;
  cursor: pointer;
}

.com {
  display: block;
  padding-top: 10px;
  padding-bottom: 6px;
  text-align: center;
  border-color: #9AD6CC;
  background-color: #D1F0EB;
  cursor: pointer;
}

.ifc {
  display: inline-block;
  margin-top: 4px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-color: #D2E4C6;
  background-color: #E7FBDA;
  cursor: pointer;
}
