
p.clear {
  clear: both;
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.tiny-clear {
  clear: both;
  padding: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
}

body {
  font-family: arial, verdana;
}

h3 {
  margin-bottom: 3px;
  padding-bottom: 3px;
}

h4 {
  margin-top: 4px;
  margin-bottom: 6px;
}

h4.missing {
  margin-top: 10px;
  margin-bottom: 0px;
}

.systems h4 {
  margin-bottom: 10px;
}

.library, .interface, .base, .environment, .system {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid;
  text-align: center;
  border-radius: 4px;
}

.interface, .base, .component-impl, .component-ifc {
  cursor: pointer;
}

.library {
  border-color: #BBBBBB;
  background-color: #EEEEEE;
  margin-top: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.interface {
  border-color: #D2E4C6;
  background-color: #E7FBDA;
  margin-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.component {
  float: left;
  overflow: auto;
  border: 2px solid;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 4px;
  border-color: #9AD6CC;
  background-color: #D1F0EB;
}

.component-impl {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  border-color: #9AD6CC;
  background-color: #D1F0EB;
  width: max-content;
}

.component-ifc {
  display: inline-block;
  margin-top: 4px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  display: block;
  border-color: #D2E4C6;
  background-color: #E7FBDA;
}

.base {
  border-color: #B1D1E6;
  background-color: #D6E8F6;
  margin-top: 6px;
  padding-top: 18px;
  padding-bottom: 20px;
}

.environments {
  margin-left: 5px;
}

.environment {
  border-color: #E6BF98;
  background-color: #F5E5D5;
  margin-top: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.system {
  border-color: #D0A9F5;
  background-color: #ECE0F8;
  margin-top: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.systems {
  margin-left: 5px;
  margin-bottom: 10px;
}

.entity-table {
  border-collapse: collapse; 
  border: 1px solid silver;
  table-layout: fixed;
}

.entity-table td {
  width: 23px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid silver;
}

.library-cell {
  background-color: #EEEEEE;
  vertical-align:bottom;
}

.library-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
}

.library-text span {
  text-orientation: upright;
}

.component-header {
   background-color: #D1F0EB;
   white-space: nowrap;
}

.component-row {
   background-color: #EBF9F7;
}

.base-header {
   background-color: #D6E8F6;
   white-space: nowrap;
}

.base-row {
   background-color: #EAF3FA;
}

.environment-header {
   background-color: #F5E5D5;
   white-space: nowrap;
}

.environment-row {
   background-color: #FAF2EA;
}

.system-header {
   background-color: #ECE0F8;
   white-space: nowrap;
}

.system-row {
   background-color: #F6F0FC;
}

.noborders td {
  border:0;
}

.text {
    margin-left: 5 mex
}

.center {
  text-align: center;
}

.system-table {
  text-align: left;
  empty-cells: hide; 
  border-spacing: 0px;
  margin-left: 8px;
  margin-bottom: 10px;
}

.system-table td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid;
  text-align: center;
  cursor: pointer;
}

td.spc {
  padding: 2px;
  background-color: #D6E8F6;
  border-color: #B1D1E6;
}

td.tbase {
  background-color: #D6E8F6;
  border-color: #B1D1E6;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

td.tcomponent {
  border-color: #9AD6CC;
  background-color: #D1F0EB;
  border-bottom-width: 0px;
}

td.tcomponent-bottom {
  border-color: #9AD6CC;
  background-color: #D1F0EB;
}

td.tinterface, td.tinterface-top, td.tinterface-bottom {
  background-color: #E7FBDA;
  border-bottom-width: 0px;
  border-left-color: #9AD6CC;
  border-right-color: #9AD6CC;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.tinterface {
  border-top-width: 0px;
  border-bottom-width: 0px;
}

td.tinterface-top {
  border-top-width: 2px;
  border-top-color: #9AD6CC;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

td.tinterface-bottom {
  border-bottom-width: 2px;
  border-bottom-color: #9AD6CC;
  border-top-width: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

td.tcomponent-base {
  border-color: #9AD6CC;
  background-color: #D1F0EB;
}

.table a {
    display:block;
    text-decoration:none;
}
